body {
	background-image: url("../Image/background.jpg");
}

button {
	width: 130px;
	height: 50px;
	border: none;
	background: orange;
	cursor: pointer;
	border-radius: 30px 30px;
	font: normal 13px arial;
	color: white;
}

	button:hover {
		background-color: green;
	}

.menu {
	list-style-type: none;
}

	.menu li {
		float: left;
	}

	.menu a {
		list-style-type: none;
		display: block;
		width: 5em;
		height: 40px;
		list-style-type: none;
		padding: 10px;
		margin: 0 5px;
		background-color: yellow;
		border: 1px solid black;
		text-decoration: none;
		color: black;
		text-align: center;
	}

ul.menu a:hover {
	background-color: green;
	color: white;
}

.form {
	position: relative;
	height: 600px;
	width: 600px;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	top: 80px;
	border-radius: 50px;
}

.delete {
	position: relative;
	left: 235px;
	top: 80px;
}

.title {
	position: relative;
	top: 40px;
	left:-20px;
}

.del_img {
	position: relative;
	left:38px;
	top:50px;
}
