<!DOCTYPE html>
<html>
<head>
	<title>Фотокарточки</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/css/index.css">
	<script type="text/javascript" src="~/js/Index.js"></script>

	@model Picture.Models.MainModel
</head>
<body>
	
	<p align="center" style="color: #3c0760; font-size: 50px; ">
		<i><font face="Arial">Рейтинг картинок</font></i>
	</p>

	<ul class="menu">
		<li><a href="~/Home/Like_or_dislike">Оценить картинки</a></li>
		<li><a href="~/Home/Delete_or_add">Добавить картинку</a></li>
	</ul>







</body>
</html>