<!DOCTYPE html>
<html>
<head>
	<title>Оцени картинку</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="~/css/Like_or_dislike.css">
	<script type="text/javascript" src="~/js/Like_or_dislike.js"></script>
	@model Picture.Models.MainModel
</head>
<body>

	<p align="center" style="color:#3c0760; font-size:50px; ">
		<i><font face="Arial">Оцени картинку</font></i>
	</p>

	<ul class="menu">
		<li><a href="Index">На главную</a></li>
		<li><a href="Delete_or_add">Добавить картинку</a></li>
	</ul>
	
	<img src="../Image/50 Foto/1.jpg" alt="rotating image" id="rotator" class="foto" height="540" width="960">

	<div class="grade">
		<div class="like" onclick="next_foto()"></div>
		<div class="dislike" onclick="next_foto()"></div>
	</div>





</body>
</html>